<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura - Prospectos Madiautos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/bundles/bootstrap?v=QtxRrbVxHAK-b5ZowWqv6Wt7oUOJAggG80vl1X-EGBM1"></script>

    <script src="/bundles/timepicker?v=SNA17wI1rMl4CP8ayG1ydmEu0eLQfZiFCqPl0hXZpd01"></script>

    <script src="/bundles/sweet?v=ZMOC4FpxSbszBSzdHGvkc9O_scCReJoQ_PgxKeHWirk1"></script>

    <script src="https://use.fontawesome.com/877bbc2081.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>

    

</head>
<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand">Captura</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Captura prospectos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Leads/Captura">Venta</a>
                        <a class="dropdown-item" href="/Compras/CompraCaptura">Compra</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Operativo Anfitrion</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Leads/OperativoAnfitrion">Venta</a>
                        <a class="dropdown-item" href="/Compras/OperativoAnfitrionCompras">Compra</a>
                        <a class="dropdown-item" href="/SolicitudPeritaje/SeguimientoAnfitrion">Solicitudes de Peritaje</a>
                    </div>
                </li>

                    <li><a class="nav-link" href="/Leads/OperativoAsesor">Operativo Asesor</a></li>

                    <li><a class="nav-link" href="/Compras/OperativoComprador">Operativo Comprador</a></li>
                                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Leads/Reports">Venta</a>
                            <a class="dropdown-item" href="/Compras/ReportesCompras">Compra</a>
                            <a class="dropdown-item" href="/SolicitudPeritaje/ReportesSolicitudesPeritaje">Solicitudes Peritaje</a>
                        </div>
                    </li>
                                    <li><a class="nav-link" href="/Compras/OperativoPerito">Operativo Perito</a></li>
                    <li><a class="nav-link" href="/Compras/OperativoTaller">Operativo Taller</a></li>
                                    <li><a class="nav-link" href="http://capnet3.ddns.net:5007/" target="_blank">KPI's</a></li>
            </ul>
            <div class="form-inline">
                <button type="button" style="margin-right: 30px; border: none transparent; background-color:transparent; color:white;" onClick="history.back();"><i class="material-icons">reply</i>Atras</button>
<form action="/Account/CerrarSesion" method="post">                    <button type="submit" value="CerrarSesion" style="border: none transparent; background-color:transparent; color:white;"><i class="material-icons">exit_to_app</i>Salir</button>
</form>            </div>
            
        </div>
    </nav>
    
    <div class="body-content">
        

<form action="/Compras/CompraCaptura" method="post"><input name="__RequestVerificationToken" type="hidden" value="gmYrr4BzDFfPcCSPY4pY22BZwFeVvBE4qm5p-ihUY2K-ZXj6PLvsYHT1eYXtibKAsPP_4jHMdqh0A2D0ik2Dp1M2qwNjGp8MefAOiUGZpOA1" />    <!--container principal-->
<div class="container container-fluid">
    <h4 style="margin:20px;">Compra - Captura Prospecto</h4>
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 bloque">
                            <h1>Informacion del Cliente</h1>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Nombre</h2>
                                    <input class="p lttssp text-box single-line" id="NombreProspecto" maxlength="50" name="NombreProspecto" required="required" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="NombreProspecto" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Primer Apellido</h2>
                                    <input class="p lttssp text-box single-line" id="ApellidoPProspecto" maxlength="50" name="ApellidoPProspecto" required="required" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="ApellidoPProspecto" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Segundo Apellido</h2>
                                    <input class="p lttssp text-box single-line" id="ApellidoMProspecto" maxlength="50" name="ApellidoMProspecto" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="ApellidoMProspecto" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Celular</h2>
                                    <input class="p num text-box single-line" id="Celular" maxlength="13" name="Celular" placeholder="Telefono 1" required="True" type="tel" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Celular" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Correo Electronico</h2>
                                    <input class="p text-box single-line" id="Correo" maxlength="100" name="Correo" placeholder="Email Principal" type="email" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Correo" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Origen Lead</h2>
                                    <select class="p" id="OrigenLead" name="OrigenLead" required="required"><option disabled="disabled" value="">-- Origen Lead --</option>
<option value="LLAMADA CONMUTADOR">LLAMADA CONMUTADOR</option>
<option value="LLAMADA CELULAR">LLAMADA CELULAR</option>
<option value="LLAMADA/CARROYA">LLAMADA/CARROYA</option>
<option value="LLAMADA/TUCARRO">LLAMADA/TUCARRO</option>
<option value="LLAMADA/OLX">LLAMADA/OLX</option>
<option value="CARROYA">CARROYA</option>
<option value="TUCARRO">TUCARRO</option>
<option value="ESTRENAR CARRO">ESTRENAR CARRO</option>
<option value="OLX">OLX</option>
<option value="PÁGINA WEB">P&#193;GINA WEB</option>
<option value="CAMPAÑA PAGA FACEBOOK">CAMPA&#209;A PAGA FACEBOOK</option>
<option value="CAMPAÑA ORGÁNICA FACEBOOK">CAMPA&#209;A ORG&#193;NICA FACEBOOK</option>
<option value="INSTAGRAM">INSTAGRAM</option>
<option value="CAMPAÑA FINANCIERA">CAMPA&#209;A FINANCIERA</option>
<option value="CONVENIO">CONVENIO</option>
<option value="WHATSAPP MAZDA">WHATSAPP MAZDA</option>
<option value="WHATSAPP DIRECTO USADOS">WHATSAPP DIRECTO USADOS</option>
<option value="WHATSAPP HYUNDAI">WHATSAPP HYUNDAI</option>
<option value="Google Search">Google Search</option>
<option value="WHATSAPP COMPRAS USADO">WHATSAPP COMPRAS USADO</option>
<option value="TU USADO FINANDINA">TU USADO FINANDINA</option>
<option value="CORREO">CORREO</option>
<option value="Retoma mazda">Retoma mazda</option>
<option value="Retoma hyundai">Retoma hyundai</option>
<option value="Olx">Olx</option>
<option value="Retoma usados">Retoma usados</option>
<option value="Compra Morato">Compra Morato</option>
<option value="Usados 127">Usados 127</option>
<option value="Compra 127">Compra 127</option>
<option value="Renting Colombia">Renting Colombia</option>
<option value="Consignado">Consignado</option>
<option value="Referido">Referido</option>
<option value="Rebold">Rebold</option>
<option value="PÁGINA WEB FORMULARIO">P&#193;GINA WEB FORMULARIO</option>
<option value="Finanzauto">Finanzauto</option>
</select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="OrigenLead" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Campaña</h2>
                                    <input class="p text-box single-line" id="Campania" maxlength="100" name="Campania" placeholder="" type="text" value="" />
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Tipo de Documento</h2>
                                    <select class="p" id="TipoDocumento" name="TipoDocumento" required="required"><option value="0">-- Tipo Documento --</option>
<option value="Cédula ciudadanía">C&#233;dula ciudadan&#237;a</option>
<option value="Cédula de extranjería">C&#233;dula de extranjer&#237;a</option>
<option value="PASAPORTE">PASAPORTE</option>
<option value="NIT">NIT</option>
</select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="TipoDocumento" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Documento</h2>
                                    <input class="p text-box single-line" id="Documento" maxlength="100" name="Documento" placeholder="" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col bloque">
                            <h1>Asignación de Comprador</h1>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h2>Recibido por: </h2>
<select class="p" id="Anfitrion" name="Anfitrion" required="required"><option disabled="disabled" value="0">-- Anfitrion --</option>
<option value="Daniela Quijano">Daniela Quijano</option>
<option value="Sharon Diaz">Sharon Diaz</option>
<option value="Cristian Guzman">Cristian Guzman</option>
<option value="Brenda Milena Martinez Martinez">Brenda Milena Martinez Martinez</option>
<option value="Mayerly Andrea Gutierrez Garcia">Mayerly Andrea Gutierrez Garcia</option>
<option value="Camilo Andres Salazar Campos">Camilo Andres Salazar Campos</option>
<option value="Auditoria">Auditoria</option>
</select><span class="field-validation-valid text-danger" data-valmsg-for="Anfitrion" data-valmsg-replace="true"></span>                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h2>Comprador</h2>
                                    
<select class="p" id="Comprador" name="Comprador" required="required"><option disabled="disabled" value="0">-- Comprador --</option>
<option value="Carlos Peña">Carlos Pe&#241;a</option>
<option value="Elkin Solano">Elkin Solano</option>
<option value="German Caro">German Caro</option>
<option value="William Rosas">William Rosas</option>
<option value="Oscar Ospina">Oscar Ospina</option>
<option value="Mario Ramírez">Mario Ram&#237;rez</option>
<option value="Felipe Carrillo">Felipe Carrillo</option>
<option value="Sanly Rojas">Sanly Rojas</option>
<option value="CARLOS MORENO">CARLOS MORENO</option>
<option value="Heidy Medina">Heidy Medina</option>
</select><span class="field-validation-valid text-danger" data-valmsg-for="Comprador" data-valmsg-replace="true"></span>                                    
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col bloque">
                            <div class="input-group">
                                <h1>Información del Vehículo</h1>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Marca</h2>
                                    <select class="p" id="Marca" name="Marca"><option selected="selected" value="0">-- Marca de Interes --</option>
<option value="AUDI">AUDI</option>
<option value="BMW">BMW</option>
<option value="CHEVROLET">CHEVROLET</option>
<option value="CITROEN">CITROEN</option>
<option value="DAIHATSU">DAIHATSU</option>
<option value="FIAT">FIAT</option>
<option value="FORD">FORD</option>
<option value="HONDA">HONDA</option>
<option value="HYUNDAI">HYUNDAI</option>
<option value="JEEP">JEEP</option>
<option value="KIA">KIA</option>
<option value="MAZDA">MAZDA</option>
<option value="MERCEDES BENZ">MERCEDES BENZ</option>
<option value="MINI">MINI</option>
<option value="MITSUBISHI">MITSUBISHI</option>
<option value="NISSAN">NISSAN</option>
<option value="PEUGEOT">PEUGEOT</option>
<option value="PORSCHE">PORSCHE</option>
<option value="RENAULT">RENAULT</option>
<option value="SEAT">SEAT</option>
<option value="SSANG YONG">SSANG YONG</option>
<option value="SUBARU">SUBARU</option>
<option value="TOYOTA">TOYOTA</option>
<option value="VOLKSWAGEN">VOLKSWAGEN</option>
<option value="Suzuki">Suzuki</option>
<option value="RAM">RAM</option>
<option value="VOLVO">VOLVO</option>
<option value="JAGUAR">JAGUAR</option>
<option value="BAIC">BAIC</option>
<option value="BYD">BYD</option>
<option value="Brilliance">Brilliance</option>
<option value="Chana">Chana</option>
<option value="Changan">Changan</option>
<option value="CHANGHE">CHANGHE</option>
<option value="CHERY">CHERY</option>
<option value="Chrysler">Chrysler</option>
<option value="Dodge">Dodge</option>
<option value="DS">DS</option>
<option value="DFSK">DFSK</option>
<option value="FAW">FAW</option>
<option value="FOTON">FOTON</option>
<option value="GEELY">GEELY</option>
<option value="Great Wall">Great Wall</option>
<option value="Hafei">Hafei</option>
<option value="HAVAL">HAVAL</option>
<option value="JAC">JAC</option>
<option value="Otro">Otro</option>
<option value="JMC">JMC</option>
<option value="Hyundai Nuevos">Hyundai Nuevos</option>
<option value="Mazda Nuevos">Mazda Nuevos</option>
<option value="Karry">Karry</option>
<option value="KENBO">KENBO</option>
<option value="MAHINDRA">MAHINDRA</option>
<option value="MG">MG</option>
<option value="OPEL">OPEL</option>
<option value="SOUEATS">SOUEATS</option>
<option value="Skoda">Skoda</option>
<option value="SsangYong">SsangYong</option>
<option value="TESLA">TESLA</option>
<option value="Zotye">Zotye</option>
</select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Marca" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Modelo</h2>
                                    <input class="p num text-box single-line" id="Modelo" maxlength="60" name="Modelo" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Modelo" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Versión</h2>
                                    <input class="p num text-box single-line" id="Version" maxlength="60" name="Version" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Version" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Año</h2>
                                    <select class="p" id="Anio" name="Anio"><option disabled="disabled" selected="selected" value="0">-- A&#241;o Veh&#237;culo --</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
<option value="2001">2001</option>
<option value="2000">2000</option>
<option value="1999">1999</option>
<option value="1998">1998</option>
<option value="1997">1997</option>
<option value="1996">1996</option>
<option value="1995">1995</option>
<option value="1994">1994</option>
<option value="1993">1993</option>
<option value="1992">1992</option>
<option value="1991">1991</option>
<option value="1990">1990</option>
<option value="1989">1989</option>
<option value="1988">1988</option>
<option value="1987">1987</option>
<option value="1986">1986</option>
<option value="1985">1985</option>
<option value="1984">1984</option>
<option value="1983">1983</option>
<option value="1982">1982</option>
<option value="1981">1981</option>
<option value="1980">1980</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
</select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Anio" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Cilindraje</h2>
                                    <input class="p num text-box single-line" id="Cilindraje" maxlength="60" name="Cilindraje" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Cilindraje" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Color</h2>
                                    <input class="p num text-box single-line" id="Color" maxlength="60" name="Color" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Color" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Kilometraje</h2>
                                    <input class="p num text-box single-line" id="Kilometraje" maxlength="60" name="Kilometraje" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Kilometraje" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Caja</h2>
                                    <select class="p" id="Caja" name="Caja">
                                        <option disabled="disabled" selected="selected">-- Caja --</option>
                                        <option value="Mecanica">Mecánica</option>
                                        <option value="Automatica">Automática</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Único Dueño</h2>
                                    <select class="p" id="DuenioUnico" name="DuenioUnico">
                                        <option disabled="disabled" selected="selected">-- Dueño Unico --</option>
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h2>Ciudad Placa</h2>
                                    <input class="p num text-box single-line" id="CiudadPlaca" maxlength="60" name="CiudadPlaca" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="CiudadPlaca" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Placa</h2>
                                    <input class="p num text-box single-line" id="Placa" maxlength="7" name="Placa" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Placa" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <h2>Ubicación de Vehiculo</h2>
                                    <input class="p num text-box single-line" id="Vehiculo_Ubicacion" maxlength="100" name="Vehiculo_Ubicacion" placeholder="" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Vehiculo_Ubicacion" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 bloque">
            <div class="card h-100" style="margin:0;">
                <div class="card-body">
                    <div class="row">
                        <div class="col bloque">
                            <div class="input-group">
                                <h1>Cita Peritaje</h1>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h2>Lugar</h2>
                                    <select name="LugarPeritaje" id="LugarPeritaje" class="p">
                                        <option value="0" disabled selected>-- Lugar Cita --</option>
                                            <option value="0">-- Lugar Peritaje --</option>
                                            <option value="Usados Morato">Usados Morato</option>
                                            <option value="Usados 127">Usados 127</option>
                                            <option value="Domicilio">Domicilio</option>
                                            <option value="Medellin">Medellin</option>
                                            <option value="Cali">Cali</option>
                                    </select>
                                    
                                    
                                    
                                </div>
                                <div class="form-group col-md-5">
                                    <h2>Fecha y Hora Cita</h2>
                                    <input id="FechaHoraCita" name="FechaHoraCita" type="text" class="p" autocomplete="off" />
                                </div>
                                <div class="form-group col-md-1">
                                    <a class="button calendario" style="font-size: 40px;" id="calendario" href="#" target="_blank" hidden>
                                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h2>Ciudad</h2>
                                    <select class="p" id="CiudadPeritaje" name="CiudadPeritaje"><option disabled="disabled" value="0">-- Ciudad Peritaje --</option>
<option value="Barranquilla">Barranquilla</option>
<option value="Bogotá">Bogot&#225;</option>
<option value="Medellín">Medell&#237;n</option>
<option value="Cali">Cali</option>
</select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="CiudadPeritaje" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h2>Dirección</h2>
                                    <input class="p num text-box single-line" id="Direccion" maxlength="200" name="Direccion" placeholder="" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 bloque">
            <div class="card h-100" style="margin:0;">
                <div class="card-body">
                    <div class="row">
                        <div class="col bloque">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="Linea" class="col-form-label">Comentario</label>
                                    <div class="control">
                                        <textarea class="form-control textarea has-fixed-size" placeholder="Escribe tu comentario..." id="Comentario" name="Comentario"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h2>Politica de Datos: </h2>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" id="PoliticaPrivacidad" name="PoliticaPrivacidad" type="checkbox" value="true" /><input name="PoliticaPrivacidad" type="hidden" value="false" />
                                        <label class="form-check-label" for="PoliticaPrivacidad">¿El cliente acepto el tratamiento de datos personales y política de datos de madiautos?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <button type="submit" value="Guardar" name="action" id="Guardar" class="btn btn-primary btn-lg btn-block">Guardar</button>
</div>
</form><script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('es');

        $("#FechaHoraCita").datetimepicker({
            format: 'd/m/Y H:i',
            minDate: new Date(),
            allowTimes: [
                '08:00', '09:00', '10:00', '11:00',
                '12:00', '13:00', '14:00', '15:00',
                '16:00'
            ]
        });

        $("#FechaHoraCita").change(function () {
            var cliente = $("#NombreProspecto").val();
            var celular = $("#Celular").val();
            var asesor = $("#Comprador").val();
            var fh = $("#FechaHoraCita").val();

            if (cliente != "" && celular != "") {
                var Cliente = cliente.replace(/ /g, "+")
                //var Asesor = asesor.replace(/ /g, "+")
                var Celular = celular.replace(/ /g, "+")
                var FechaHora = fh.replace(/[\. ,:-]+/g, "");

                var date = new Date();
                var año = date.getFullYear();
                var mes = date.getMonth() + 1;
                var dia = date.getDate();
                var hora = date.getHours();
                var min = date.getMinutes();
                var sec = date.getSeconds();

                if (mes < 10) {
                    if (dia < 10) {
                        var f = año + "-0" + mes + "-0" + dia;
                    }
                    else {
                        var f = año + "-0" + mes + "-" + dia;
                    }
                }
                else {
                    if (dia < 10) {
                        var f = año + "-" + mes + "-0" + dia;
                    }
                    else {
                        var f = año + "-" + mes + "-" + dia;
                    }
                }

                if (hora < 10) {
                    hora = "0" + hora;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                var h = "T" + hora + ":" + min + ":" + sec;
                var fecha = f;
                var time = f + h;
                document.getElementById("calendario").href = "https://calendar.google.com/calendar/u/0/r/eventedit?text=Cita+de+Peritaje+con+Cliente:+" + Cliente + "+de+Telefono+" + Celular + "&dates=" + fecha + "Z/" + h + "00Z&ctz=UTC";

                $("#calendario").show();
                $("#calendario").removeAttr("hidden");
            }
            else {
                $("#FechaHoraCita").val("");
                swal("¡Campos Requeridos!", "Para agendar el peritaje es necesario primero indicar el nombre y celular del prospecto.", "warning")
            }
        });

        $('#MarcasInteres').selectpicker();
        $("#OrigenLead").val('0');
        $("#Sala").val('0');
        $("#LugarPeritaje").val('0');
        $("#CiudadPeritaje").val('0');
        $("#Marca").val('0');
        //$("#Comprador").val('0');
        //$("#Anfitrion").val('0');

        $("#Celular").focusout(function (event) {
            var Celular = $("#Celular").val();
            var data = {
                "Telefono": Celular
            };
            var baseUrl = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            if (Celular != "" && Celular != null)
            {
                var bandera = $.ajax({
                    type: "POST",
                    url: baseUrl + "/Compras/GetProspecto",
                    data: data,
                    cache: false,
                    success: function (response) {
                        if (response != "1" && response != 1) {
                            document.getElementById("Celular").value = null;
                            swal({
                                title: "Atencion!",
                                text: "Un prospecto ya se ha dado de alta con el Celular " + Celular + ", capturado por el Anfitrión " + response.anfitrion + ".\nTipo Operacion: "+response.tipo+".\n Fecha Captura: " + response.fechaCaptura + "\n Respuesta: " + response.respuesta + "\n Estado: " + response.estado + "\n Asesor/Comprador: " + response.asesor + ".\n ¿Deseas generar una nueva compra para el prospecto?",
                                type: "input",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                inputPlaceholder: "Comentario de Inicio"
                            }, function (inputValue) {
                                if (inputValue === false) return false;
                                //if (inputValue === "") {
                                //    swal.showInputError("You need to write something!");
                                //    return false
                                //}

                                var data2 = {
                                    "Telefono": Celular,
                                    "Comentario": inputValue
                                };
                                $.ajax({
                                    type: "POST",
                                    url: baseUrl + "/Compras/NuevaCompra",
                                    data: data2,
                                    cache: false,
                                    success: function (response) {
                                        swal({
                                            title: "OK!",
                                            text: "Se ha generado una nueva venta con el comentario de inicio: " + inputValue,
                                            type: "success",
                                            showCancelButton: true,
                                            confirmButtonClass: "btn-success",
                                            confirmButtonText: "OK!",
                                            closeOnConfirm: false
                                        },
                                        function () {
                                            window.location.href = baseUrl + "/Compras/CompraAnfitrion/" + response;
                                        });
                                        //swal("Ok!", "Se ha generado una nueva venta con el comentario de inicio: " + inputValue, "success");
                                    },
                                    error: function (response) {
                                        swal("Oh no!", "Tuvimos un problema al verificar la información, por favor intente de nuevo.", "warning");
                                    }
                                });
                                //swal("Ok!", "You wrote: " + inputValue, "success");
                            });
                            //swal("Atencion!", "Un prospecto ya se ha dado de alta con el Celular "+Celular+", capturado por el Anfitrión "+response+", favor de verificar.", "warning");
                        }
                    },
                    error: function (response) {
                        swal("Oh no!", "Tuvimos un problema al verificar la información, por favor intente de nuevo.", "warning");
                    }
                });
            }
        });
    });
</script>

        <hr />
        <footer>
            <p>&copy; 2023 - Capital Network</p>
        </footer>
    </div>

    
    
    <script src="/bundles/jqueryval?v=hEGG8cMxk9p0ncdRUOJ-CnKN7NezhnPnWIvn6REucZo1"></script>


</body>
</html>
